<app-heading></app-heading>
<div class="container">
    <div class="display-4">User Details</div>
    <div class="h4">UserId: {{response.userId}}</div>
    <div class="h4">First Name: {{response.firstName}}</div>
    <div class="h4">Last Name: {{response.lastName}}</div>
    <div class="h4">Phone No: {{response.phoneNumber}}</div>
    <div class="h4">Email: {{response.email}}</div>
    <div class="h4">Password: {{response.password}}</div>
    <div class="h4">Gender: {{response.gender}}</div>
    <div class="h4">City: {{response.city}}</div>
</div>
<app-footing></app-footing>