<app-heading></app-heading>
<div class="container">
    <div class="display-3">FAQ</div>
    <div class="h4">What happens if my accounts are merged?</div>
    <p>The order histories of both the accounts will be merged. Now, you can login to your account using either your mobile number or email ID.

    The password to access the order history will be of the account with which you had logged in while updating your details.</p>
    
    <div class="h4">Can I add multiple email addresses and mobile numbers to log into my account?</div>
    <p>To make sure that your account is always secure, multiple email addresses or mobile numbers cannot be added. For an account, only one mobile number & email ID can be used to log in.</p>

    <div class="h4">Is it necessary to have an account to shop on Razor?</div>
    <p>Yes, it's necessary to log into your Razor account to shop. Shopping as a logged-in user is fast & convenient and also provides extra security.

        You'll have access to a personalised shopping experience including recommendations and quicker check-out.</p>

        <div class="h4">Is it necessary to have an account to shop on Razor?</div>
    <p>Yes, it's necessary to log into your Razor account to shop. Shopping as a logged-in user is fast & convenient and also provides extra security.

        You'll have access to a personalised shopping experience including recommendations and quicker check-out.</p>

        <div class="h4">How do I know my order has been confirmed?</div>
    <p>An e-mail & SMS will be sent once you've successfully placed your order. We'll also let you know as soon as the seller ships the item(s) to you along with the tracking number(s) for your shipment(s). You can track your orders from the 'My Orders' section on your BlackStone account.</p>

        <div class="h4">What should I do if my order is approved but hasn't been shipped yet?</div>
    <p>Sellers usually ship orders 1-2 business days before the delivery date so that they reach you on time. In case your order hasn't been shipped within this time please contact our Customer Support so that we can look into it.</p>
</div>
<app-footing></app-footing>