<footer id="footer" class="align-items-center">
    <div id="img">
      <a href="#"><img src="assets/images/razor.png" alt="#" id="footerimg"></a>
    </div>
    <div class="container d-flex">
    <nav class="nav-menu d-lg-block">
    <ul>
      <li><button class="btn" routerLink='/about'>About Us</button></li>
      <li><button class="btn" routerLink='/contact'>Contact Us</button></li>
      <li><button class="btn" routerLink='/faq'>FAQs</button></li>
      <!-- <li><button class="btn">My Account</button></li> -->
    </ul>
    </nav>
    </div>
</footer>
