<app-heading></app-heading>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-title display-4">Nitin C Hegde</div>
                    <div class="h4">C&IT</div>
                    <div class="h4">Reva University</div>
                    <div class="h4">Bangalore</div>
                    <div class="h4">nhnitinhegde24@gmail.com</div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-title display-4">Akshay Nandal</div>
                    <div class="h4">ECE</div>
                    <div class="h4">Reva University</div>
                    <div class="h4">Bangalore</div>
                    <div class="h4">nandal.akshay@yahoo.com</div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-title display-4">Tejasri S Reddy</div>
                    <div class="h4">C&IT</div>
                    <div class="h4">Reva University</div>
                    <div class="h4">Bangalore</div>
                    <div class="h4">ks.tejasreereddy@gmail.com</div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footing></app-footing>