.btn{
    display: inline;
}

.card-container{
    margin-top: 300px;
    height: fit-content;
    width: fit-content;
    margin-left: 500px;
}
.h1{
    background-color: white;
    color: steelblue;
    border: 2px solid steelblue;
}