<!-- <form>
<div type="number" [(ngModel)]="finalAmount" name="finalAmount"></div>

</form> -->

<!-- <div id="paypal-checkout-btn"></div> -->

<app-heading></app-heading>

<div class="col-md-12">
  <div class="h1 text-center">Payment gateway</div></div>

<div class="card-container">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Payment Options</h4>
        <p class="card-text">
          Select your payment gateway
        </p>
        <a href="http://localhost:9090/" class="btn btn-primary">Pay with PayTM</a>
        <button class="btn btn-primaty" id="paypal-checkout-btn">Pay with PayPal</button>
      </div>
    </div>
  </div>

<app-footing></app-footing>