<app-heading></app-heading>
<div *ngIf="responseBack.length" class="container" id="mainrow">
    <div class="display-4">My Orders({{responseBack.length}})</div><hr>
    <div *ngFor="let item of responseBack">
        <div class="row">
            <div class="col-md-2">
                <button class="btn" id="imag" (click)="itemDescription(item.productId)"><img class="img-fluid" src="{{item.productImage}}" alt="image"></button>
            </div>
            <div class="col-md-9" id="desc">
                <button class="btn btn-light" id="remove" (click)="toRemove(item.orderId)">Cancel Order</button>
                <div class="h2">Order Id: {{item.orderId}}</div>
                <button class="btn" (click)="itemDescription(item.productId)"><div class="h4">{{item.productName}}</div></button><br>
                <div class="h4">Rs. {{item.productPrice}}</div>
                <div class="h3">Qty: {{item.productQuantity}}</div>
                <div class="h3">Total: Rs. {{item.subTotal}}</div>
            </div>
        </div><hr>
    </div>
</div>

<div *ngIf="!responseBack.length" class="container" id="empty">
    <div class="display-2">Your Orders List is empty!</div><br>
    <a href="/home"><div class="btn btn-light">Add products</div></a>
</div>
<app-footing></app-footing>
