
<div class="col-md-12">
    <div class="h1 text-center">Complete the registeration process</div></div>

<div class="container">
    <form>
        <div id="num">
        <fieldset class="form-group">
            <div class="h4">Please enter otp</div><br>
            <input type="text" name="otp" class="form-control" placeholder="Your OTP" id="otp" [(ngModel)]="otp">
        </fieldset>
        <button type="button" class="btn" (click)="otpNumber()">Submit</button>
    </div>
    </form>
    </div>