<app-heading></app-heading>

  <!-- <div class="background">
    <img src="assets/Images/nature.jpeg" alt="#" class="img-fluid">
  </div> -->

  <div class="card-container">
    <div class="card">
      <img class="card-img-top" src="assets/images/brands.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Fashion and Apparel</h4>
        <p class="card-text">
          Dive into our variety of clothing apparel!
        </p>
        <a href="/fashion" class="btn btn-primary">See more</a>
      </div>
    </div>
  </div>

  <div class="card-container">
    <div class="card">
      <img class="card-img-top" src="assets/images/electronics.png" alt="Card image cap" id="imgCards">
      <div class="card-body">
        <h4 class="card-title">Electronics</h4>
        <p class="card-text">
          Choose from our exciting range of electronics 
        </p>
        <a href="/electronics" class="btn btn-primary">See more</a>
      </div>
    </div>
  </div>

  <div class="card-container">
    <div class="card">
      <img class="card-img-top" src="assets/images/essentials.jpg" alt="Card image cap" id="imgCards">
      <div class="card-body">
        <h4 class="card-title">Essentials</h4>
        <p class="card-text">
          Delivering the essentials in these trying times 
        </p>
        <a href="/essentials" class="btn btn-primary">See more</a>
      </div>
    </div>
  </div>

  <div class="breaker">
    <h3 class="text-center">New Arrivals</h3>
  </div>
  <div class="row">
  <div id="demo" class="carousel-slide" data-ride="carousel">

    <div class="carousel-inner">
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
            <li data-target="#demo" data-slide-to="3"></li>
          </ul>
      <div class="carousel-item active">
        <a href="#">
        <img src="assets/images/oneplus.jpg" alt="OnePlus" id="carouselImg"></a>
        <div class="carousel-caption">
          <a href="/electronics"></a>
          <h3>OnePlus 8Pro</h3>
          <p>Lead with Speed</p>
        </div>  
      </div>
      <div class="carousel-item">
        <a href="#">
        <img src="assets/images/asus.png" alt="Asus" id="carouselImg"></a>
        <div class="carousel-caption">
          <a href="/electronics"></a>
          <h3>Asus TUF Laptop</h3>
          <p>Ready to power your needs</p>
        </div>  
      </div>
      <div class="carousel-item">
        <a href="#">
        <img src="assets/images/levis.jpg" alt="Levis" id="carouselImg"></a>
        <div class="carousel-caption">
          <a href="/fashion"></a>
          <h3>Levi's Apparel</h3>
          <p>Quality never goes out of style</p>
        </div>  
      </div>
    <div class="carousel-item">
      <a href="#">
      <img src="assets/images/nike.jpg" alt="Nikes" id="carouselImg"></a>
      <div class="carousel-caption">
        <a href="/fashion"></a>
        <h3>Nike Air</h3>
        <p>Elevate your game</p>
      </div>  
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
  </div>
  
    
  </div>
  </div>
  <div class="breaker">
    <h3 class="text-center">Our stance on Covid-19, delivering the essentials to your doorstep</h3>
  </div>

  <div class="essentials-cards">
    <div class="card">
      <img class="card-img-top" src="assets/images/hygiene.jpg" alt="hygiene" id="imgCards">
      <div class="card-body">
        <h4 class="card-title">Hygiene</h4>
        <p class="card-text">
          Keep yourself clean and sanitized
        </p>
        <a href="/essentials" class="btn btn-primary">See more</a>
      </div>
    </div>
  </div>

  <div class="essentials-cards">
    <div class="card">
      <img class="card-img-top" src="assets/images/household.jpg" alt="household" id="imgCards">
      <div class="card-body">
        <h4 class="card-title">Household Products</h4>
        <p class="card-text">
          Day to day products used in every household
        </p>
        <a href="/essentials" class="btn btn-primary">See more</a>
      </div>
    </div>
  </div>

  <div class="essentials-cards">
    <div class="card">
      <img class="card-img-top" src="assets/images/food.png" alt="food" id="imgCards">
      <div class="card-body">
        <h4 class="card-title">Food products</h4>
        <p class="card-text">
          Satisfy your cravings
        </p>
        <a href="/essentials" class="btn btn-primary">See more</a>
      </div>
    </div>
  </div>

<app-footing></app-footing>