<app-heading></app-heading>
<div class="container">
    <div class="display-3">About Us</div>
    <div class="h4">What do we do here?</div>
    <p>Hello and welcome to Razor, the place to find the best Electronics, Clothing and Essentials for every taste and occasion. We thoroughly check the quality of our goods, working only with reliable suppliers so that you only receive the best quality product.</p>
    <div class="h4">Our vision and goal</div>
    <P>We at Razor believe in high quality and exceptional customer service. But most importantly, we believe shopping is a right, not a luxury, so we strive to deliver the best products at the most affordable prices, and ship them to you regardless of where you are.</P>
    <div class="h4">Our promise to the customers</div>
    <p>The interests of our customers are always top priority for us, so we hope you will enjoy our products as much as we enjoy making them available to you.</p>
    <div class="h4">Our stance on Covid-19</div>
    <p>The safety of delivery personnel is our most important priority alongwith customer satisfaction. So we here at Razor make sure the products being delivered to you
        are well sanitized and the delivery personnel has been given the necessary kit to prevent further spread of this pandemic. Orders might take a little longer than usual, just hang in there!
    </p>
    <div class="h4">Thank You!</div>
    <p>Thank you for choosing razor, we stive towards making your shopping experience more seamless and smooth</p>
</div>
<app-footing></app-footing>